<div class="row" >
    <div class=" mx-auto col-md-3 mt-5">
        <form [formGroup]="loginFormulario" (ngSubmit)="salvarDadosFormLogin()">
            <div>
                <div class="mb-3 mt-3">
                    <label for="user" class="form-label">User:</label>
                    <input formControlName="user" type="user" class="form-control" id="user" placeholder="Digite o usuário" name="usuario">
                    <span *ngIf="!loginFormulario.get('user')?.valid && loginFormulario.get('user')?.touched"
                    class="help-block"> Usuario valido</span>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">senha:</label>
                    <input formControlName="senha" type="password" class="form-control" id="pwd" placeholder="Digite a senha" name="senha">
                    <span *ngIf="!loginFormulario.get('senha')?.valid && loginFormulario.get('senha')?.touched"
                    class="help-block"> Senha valida<br>
                        No minimo 8 caracteres<br>
                        Uma letra maiscula<br>
                        Uma letra minuscula<br>
                        Um numero<br> 
                        Um caracter especial<br>
                    </span>
                </div>
                <button
                [disabled]="loginFormulario.invalid" 
                type="submit" class="btn btn-primary">Login</button>
                </div>
        </form>
  </div>
